@font-face {
    font-family: Deftone-Stylus; /* Гарнитура шрифта */
    src: url(./font/Deftone-Stylus.ttf); /* Путь к файлу со шрифтом */
    font-family: Lato-Bold; /* Гарнитура шрифта */
    src: url(./font/Lato-Bold.ttf); /* Путь к файлу со шрифтом */
    font-family: Lato-Light; /* Гарнитура шрифта */
    src: url(./font/Lato-Light.ttf); /* Путь к файлу со шрифтом */
   }

